.wpts-specification-table .wpts-specification-template {
    display: none;
}

.wpts-specification-table .wpts-specification-drag {
    cursor: move;
    font-size: 1.75em;
}

.wpts-specification-table .wpts-specification td:first-child {
    width: 2.0em;
}
